*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/misc.xml
/.idea/gradle.xml


#Map key class file
/app/src/main/java/com/example/charo_android/hidden/Hidden.kt

*.apk
app/release/output-metadata.json
