<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.charo.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 갤러리 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.di.CharoApplication"
        android:allowBackup="false"
        android:appComponentFactory="@string/app_name"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_charo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_charo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChaRoAndroid"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <!--        tools:replace="android:allowBackup"-->
        <activity
            android:name=".presentation.ui.signin.PasswordSearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.setting.SettingReportActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.home.BannerGangneungActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.home.BannerSpringPlaylistActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.home.BannerDriveTheaterActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.home.BannerAboutCharoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.mypage.other.OtherMyPageActivity"
            android:exported="false" />

        <service
            android:name=".presentation.ui.alarm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.ui.detailpost.DetailPostActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.ui.follow.FollowActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.setting.SettingServiceTermActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.setting.SettingPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.setting.SettingCsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.signin.SocialSignInActivity"
            android:exported="true" />
        <activity android:name=".presentation.ui.write.WriteShareActivity" />
        <activity android:name=".presentation.ui.alarm.AlarmActivity" />
        <activity
            android:name=".presentation.ui.main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="charo.page.link"
                    android:scheme="http" />
                <data
                    android:host="charo.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.signup.SignUpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.ui.setting.SettingActivity" />
        <activity
            android:name=".presentation.ui.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity android:name=".presentation.ui.search.SearchActivity" />
        <activity android:name=".presentation.ui.signin.SignInActivity" />
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>